<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="cointainer md-col-4">
        <div class="card">
            <h2><%= data.ID %></h2>
            
        </div>
    </div>
</body>
</html>