* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
     
.container{
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    height: 10%;
    padding: 1%;
}

.nick{

    background-color: darkcyan;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20%;

}

#houdini{
    padding: 5px 10px;
    

}
.fake-textarea {
    border: 1px solid black;
    width: 100%;
    padding: .5rem;
    min-height: 3rem;
  }
  .fake-textarea:empty::before {
    position: absolute;
    content: "Write here...";
  }

body { 
    font: 13px Helvetica, Arial; 
}
      

      

.container p{
    width: 5%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    border-radius: 0; 
    margin-left: 2%;
}

form a:hover{
    border-radius: 10px;
}
      

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
      

#messages li { 
    padding: 5px 10px; 
}


.chat{
    color: white;
    
}
.recibido{
    height: auto;
    padding-left: 5%;
    background-color: #1b262c;
    border-radius: 12px;
    margin-left: 60%;
    margin-top: 5px;
}
.enviado{
    height: auto;
    margin-top: 5px;
    margin-right: 60%;
    border-radius: 12px;
    background-color: #0f4c75;
    padding-left: 5%;
}
.enviado p{
    height: auto;
    font-size: 12px;
    text-align: right;
    padding-right: 10%;
}
.recibido p{
    height: auto;

    font-size: 20px;
    text-align: right;
    padding-right: 10%;
}
#btn:hover{
    transition: all 0.3s ease;
}
.logo{
    color:white;
    font-family: 'Coda Caption', sans-serif;
    font-size: 35px;
    text-transform: none;

}
* {
    margin: 0px;
    padding: 0px;
  }
  
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
  }
  
  #sidebar.active {
    left: 0px;
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  }
  
  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }

.boton{
    width: 30%;
    height: 100%;
}
svg:hover{
    fill: #1b750f;
}