nav .derecha{
    display: inline-block;
    justify-content: right;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 auto;
}

nav ul li a:hover{
    text-decoration: none;
    color: #fff;
}



.btn{
    background: #3b6978;
    
}

.btn:hover{
    transition: all 0.3s ease;
    background: #204051;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}
.logo{
    color:white;
    font-family: 'Coda Caption', sans-serif;
    font-size: 35px;
    text-transform: none;
}