.derecha{
    display: inline-block;
    justify-content: right;
    background-color: teal;
}
.logo{
    color:white;
    font-family: 'Coda Caption', sans-serif;
    font-size: 35px;
    text-transform: none;

}
.container2{
    background-color: teal;
    width: 50%;
    height: 700px;
}
.card{
    height: 50%;
    width: 100%;
}
@media (max-height:700px){
    .container2{
        height: 500px;
        width: 100%;
    }
}